# Byte-compiled / cached files
__pycache__/

# Virtual environments
.venv/
env/
venv/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Environment variables
.env

# VSCode and IDE settings
.vscode/
.idea/

# Test artifacts
coverage.*
htmlcov/
.cache/
pytest_cache/

# Logs
*.log
